.block-price .block-price-saas-price-cost {
  font-size: 50px;
  font-family: "Open Sans", "sans-serif";
  line-height: 60px;
  float: right;
  text-align: right;
}

.block-price .block-price-benefits-title {
  font-size: 30px;
  line-height: 40px;
  font-family: "Open Sans", "sans-serif";
  text-align: center;
  margin: 55px 10px 5px;
}

.block-price .block-price-saas-switch-left-option,
.block-price .block-price-saas-switch-right-option {
  width: calc((100% - 50px) / 2);
  float: left;
  line-height: 30px;
  font-family: "Open Sans", "sans-serif";
  font-size: 14px;
}

.block-price .block-price-btn {
  line-height: 20px;
  padding: 20px 30px;
  text-decoration: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size: 16px;
  font-family: "Open Sans", "sans-serif";
  display: inline-block;
  background: #2c9b75;
  color: #fff;
  margin: 0 10px;
}

.block-price {
  width: 100%;
  background: none;
}
